/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
	height: 100%;
	background: black;
  background: -webkit-linear-gradient(to left top, #000001, #000025);
  background:    -moz-linear-gradient(to left top, #000001, #000025);
  background:         linear-gradient(to left top, #000001, #000025);
}

* {
  box-sizing: inherit;
}

body {
  max-width: 900px;
  text-align: center;
  margin: 50px auto 0;
}

h1 {
  font-size: 50px;
  color: white;
}

h2{
  font-size: 30px;
  color: white;
}

button {
  height: 40px;
  width: 80px;
	margin: auto;
  border-radius: 45%;
  cursor: pointer;
}

#currentColor {
	display: inline-block;
	height: 40px;
	width: 80px;
	margin: auto;
	border: 1px solid #D6D4D6;
	border-radius: 45%;
}

input {
	display: inline-block;
	border: none;
	margin: auto;
  cursor: pointer;
}

.pageHead {
  font-size: 30px;
  text-align: center;
  max-width: 900px;
  margin-bottom: 5px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}

main {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
}

.toolBar-col {
  width: 300px;
  display: flex;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

/*
This is the grid canvas
*/

.grid-col {
  display: inline-block;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
	cursor: crosshair;
}

.blankcell {
  float:left;
  background: white;
  border-top: 1px solid #D6D4D6;
  border-left: 1px solid #D6D4D6;
  height: 14px;
  width: 14px;
}

.clearfix {
  clear: both;
}

.blankcell:last-of-type {
  background: white;
  border-top: 1px solid #D6D4D6;
  border-right: 1px solid #D6D4D6;
  height: 14px;
  width: 14px;
}

.row:last-of-type > .blankcell {
  border-bottom: 1px solid #D6D4D6;
}
